body{
 background-color: darkblue;   
}

h2{
    color: lightgreen;
}

span{
    color: rgb(148, 41, 240);
    font-weight: bold;
}

p{
    background-color: #de50f5;
    font-size: 15px;
}

/* requisiçao é voce solicitar algo para o backend
   request = requisiçao
   response = resposta */