.left{
    float: left;
    width: 50%;
}
.right{
    float: right;
    width: 50%;
}
label{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
input{
    display: block;
    width: 90%;
    height: 40px;
    border-radius: 10px;
}
div{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}
a{
    text-decoration: none;
    color: black;
    display: inline-block;
    margin-top: 30px;
    border: 2px solid red;
    color: red;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
}
a:hover{
    color: rgb(198, 1, 1);
    border-color: rgb(198, 1, 1);
}
button{
    background-color: rgb(29, 218, 4);
    border: greenyellow;
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
    display: inline-block;
    width: 400px;
    height: 50px;
    font-size: x-large;
}
button:hover{
    background-color: rgb(4, 191, 22);
    cursor: pointer;
}